<%- include('template/head', {title: 'Capture'}) %>
<%- include('template/header', {showLogo: true}) %>
<%- include('template/sidebar') %>
<section id="top-extra">
  <img src="./assets/images/pokelogo.png" alt="pokeball logo" id="transparantebal">
</section>
<main id="mystery">
    <section id="kleurbalk">
        <img src="./assets/images/pokelogo.png" alt="pokeball logo" id="transparantebal">
    </section>
    <div class="battler-expl-box">
        <p>Kies een pokemon om te vangen. <br>of<br>Kies een pokemon om vrij te laten.</p>  
        <figure class="battler-intro-pic"><img src="./assets/images/catch-intro.png"></figure>
        <form method="post" action="/captureChoice" class="battler-choice-form">
            <input list="pokemon" name="pokemon" class="pokemon-choice" placeholder="Kies pokemon" required>
                <datalist id="pokemon">
                    <% for(let i=0; i<=150; i++){%>
                         <option  value="<%= pokelist[i].name%>"> 
                    <%};%>
                </datalist>
            <button type="submit" class="choice-form-submit">VANG</button>
        </form>
         
    </div>
    </main>
    <%- include('template/footer') %>
