<%- include('template/header', {title: 'Capture', showLogo: true}) %>
<%- include('template/sidebar') %>
<main id="capture">
    <section id="capture-own-pokemon">
        <p><%= buddy.name %></p>
        <figure id="capture-own-pokemon-img" class="capture-pokemon">
            <img src="<%= buddy.sprites.other?.['official-artwork'].front_default %>" alt="">
        </figure>
    </section>
    <section id="capture-pokeball">
        <p>overblijvende kansen</p>
        <p><%= chances %></p>
        <figure id="capture-ball">
            <img src="./assets/images/Pokeball.png" alt="">
        </figure>
    </section>
    <section id="capture-other-pokemon">
        <p><%= pokemon.name %></p>
        <figure id="capture-other-pokemon-img" class="capture-pokemon">
            <img src="<%= pokemon.sprites.other?.['official-artwork'].front_default %>" alt="">
        </figure>
    </section>
</main>
<%- include('template/footer') %>