<%- include('template/head', {title: 'Home'}) %>
<%- include('template/header', {showLogo: true}) %>
<%- include('template/sidebar') %>
<main id="home">
    <section>
      <h2>welkom tot SquirtleSquad</h2>
    </section>
    <% if(buddyStatus === false){%>
      <br>
      <section class="home-region" id="home-buddies">
        <h2>get your buddy</h2>
        <section id="home-buddies-images">
          <img src="<%= squirtle.sprites.other?.['official-artwork'].front_default %>" alt="squirtle" onclick="addSquirtlePokemon()">
        </section>
      </section>
      <%}%>
      <form action="/home"  id="addSquirtleForm" method="post">
        <input type="hidden" name="addSquirtle" id="addSquirtle" value="">
      </form>

    <br>   
    <section id="home-container-1">
      <section id="home-befriend" class="home-region">
        <h2>bevriend mysterieuse vrienden</h2> 
         <figure><img src="./assets/images/befriend.jpg" alt=""></figure>
     </section>
     <section id="home-battle"class="home-region">
       <h2>bevecht epische wezens</h2>
       <figure><img src="./assets/images/battle.jpg" alt=""></figure>
     </section>
    </section>
    <section>
      <section id="home-mystery" class="home-region">
        <h2>raad verborgen pokemon</h2>
        <figure><img src="./assets/images/mystery.jpg" alt=""></figure>
      </section>
    </section>
    <section id="creators">
      <h2>ontmoet de ontwikkelaars</h2>
        <section class="home-card card-holder" id="card-0">
            <section id="card-1" class="home-card">
              <span class="card-pokemon">
                <figure><img src="./assets/images/xerneas.png" alt=""></figure>
              </span>
            </section>
            <section id="card-2" class="home-card">
              <span class="card-special">
                <p>MySQL</p>
              </span>
              <span class="card-special">
                <p>Typescript</p>
              </span>
            </section>
            <section id="card-5" class="home-card">
              <span class="card-profile">
                <figure><img src="./assets/images/bo_profile.jpg" alt=""></figure>
              </span>
              <p class="card-name">
                  Bo <br> Vranken
              </p>
              <p class="card-text">
                Hoi! Ik ben Bo en ben 21 jaar oud. Al van jongs af aan ben ik geïnteresseerd in alles dat met IT en techniek te maken had. Voor ik het wist is dit van Scratch naar echt programmeren gegaan, maar ik doe het nog steeds even graag!                      
              </p>
            </section>  
            <section id="card-6" class="home-card">
              <span class="card-hobby">
                <p>Gamen</p>
              </span>
              <span class="card-hobby">
                <p>Muziek</p>
              </span>
              <span class="card-hobby">
                <p>Wandelen</p>
              </span>
            </section>
        </section> 
        <section class="home-card card-holder" id="card-0">
            <section id="card-1" class="home-card">
              <span class="card-pokemon">
                <figure><img src="./assets/images/misdreavus.png" alt=""></figure>
              </span>
            </section>
            <section id="card-2" class="home-card">
              <span class="card-special">
                <p>Typescript</p>
              </span>
              <span class="card-special">
                <p>Java</p>
              </span>
            </section>
            <section id="card-5" class="home-card">
              <figure class="card-profile">
                <img src="./assets/images/ortwin-profile.jpeg" alt="">
              </figure>
              <p class="card-name">
                  Ortwin Vanpottalsberghe
              </p>
              <p class="card-text">
                Ik ben Ortwin Vanpottalsberghe, een 19-jarige programmeur met een passie voor het ontwikkelen van software. Sinds mijn twaalfde ben ik bezig met het maken van Minecraft plugins en heb ik verschillende projecten gerealiseerd.          
              </p>
            </section>  
            <section id="card-6" class="home-card">
              <span class="card-hobby">
                <p>Coderen</p>
              </span>
              <span class="card-hobby">
                <p>Gamen</p>
              </span>
              <span class="card-hobby">
                <p>Lopen</p>
              </span>
            </section>
        </section> 
        <section class="home-card card-holder" id="card-0">
            <section id="card-1" class="home-card">
              <span class="card-pokemon">
                <figure><img src="./assets/images/glicor.png" alt=""></figure>
              </span>
            </section>
            <section id="card-2" class="home-card">
              <span class="card-special">
                <p>MySQL</p>
              </span>
              <span class="card-special">
                <p>Netwerken</p>
              </span>
              <span class="card-special">
                <p>Socialiseren</p>
              </span>
            </section>
            <section id="card-5" class="home-card">
              <span class="card-profile">
                <figure><img src="./assets/images/foto-robbe-4.jpg" alt=""></figure>
              </span>
              <p class="card-name">
                  Robbe <br> Dockx
              </p>
              <p class="card-text">
                Yow! Ik ben Robbe, 21 jaar oud en een enorme fan van met vanalles dat met gaming te maken heeft. Ik ben al sinds jongs af aan achter een computerscherm te vinden en zit er nog steeds met evenveel plezier achter.                       
              </p>
            </section>  
            <section id="card-6" class="home-card">
              <span class="card-hobby">
                <p>Muziek </p>
              </span>
              <span class="card-hobby">
                <p>Gamen</p>
              </span>
              <span class="card-hobby">
                <p>Netflix</p>
              </span>
            </section>
        </section> 
        <section class="home-card card-holder" id="card-0">
            <section id="card-1" class="home-card">
              <span class="card-pokemon">
                <figure><img src="./assets/images/aron.png" alt=""></figure>
              </span>
            </section>
            <section id="card-2" class="home-card">
              <span class="card-special">
                <p>CSS</p>
              </span>
              <span class="card-special">
                <p>JAVA</p>
              </span>
              <span class="card-special">
                <p>mySQL</p>
              </span>
            </section>
            <section id="card-5" class="home-card">
              <span class="card-profile">
                <figure><img src="./assets/images/yaseen_1.JPG" alt=""></figure>
              </span>
              <p class="card-name">
                  Yaseen <br> Abdel-Hamid
              </p>
              <p class="card-text">
                Geen idee hoe ik hier beland ben maar ik krijg taken, kan weken lang mijn taken uitstellen, mijn favoriete games namaken zodat ik nooit meer ze moet kopen en mijn ouders zijn eindelijk trots op me. 
              </p>
            </section>  
            <section id="card-6" class="home-card">
              <span class="card-hobby">
                <p>Gaming</p>
              </span>
              <span class="card-hobby">
                <p>Pokemon</p>
              </span>
              <span class="card-hobby">
                <p>Lezen</p>
              </span>
            </section>
        </section> 
    </section>              
</main>
<%- include('template/footer') %>
<script defer>
  function addSquirtlePokemon(){ 
    console.log("squirtle has been added")
    document.getElementById("addSquirtle").setAttribute("value", "false");
    document.getElementById("addSquirtleForm").submit();
  }
</script>
